html, body{
    padding:0px;
    margin: 0px;
    font-family: 'Rubik', sans-serif;
    background-color: #EEF0F4;
    user-select: none;
}
.container{
    max-width: 320px;
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    
}
img{
    width: 150px;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: -2px 3px 10px #C51605;
}

input{
    color: #432000;
    background-color: #DCE1EB;
    padding: 15px;
    text-align: center;
    border:0;
    border-radius: 8px;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    
}

button{
    color: #FDFDFD;
    background-color: #AC485A;
    padding: 15px;
    text-align: center;
    border:0;
    border-radius: 8px;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    margin-top: 10px;
    
}
ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    padding: 0px;

}

ul li{
    background-color: #FFFDF8;
    padding: 8px 20px 8px 20px;
    border-radius: 5px;
    flex-grow: 1;
    font-size: 20px;
    box-shadow: 2px 3px 7px rgb(110, 65, 65);
    text-align: center;
    color: rgb(122, 118, 118);

}
button:hover{
    background-color:#FD8D14;
    cursor: pointer;
}
ul li:hover{
    background-color: #FFE17B;
    cursor: pointer;
}